package main

import (
	"{{.Name}}/configs"
	"{{.Name}}/internal/databases"
	"encoding/json"
	"fmt"
	"log"
)

func init() {
	configs.LoadEnv()
}

func main() {
	db := databases.New()

	// Step 1) Uncomment the following line to add new values to the DB
	// insert(&db, "John Doe")

	// Step 2) Uncomment the following line to fetch by ID
	// fetch(&db, "<id>")

	// Step 3) Uncomment the following line to update
	// update(&db, "<id>", "Jane Doe")

	// Step 4) Uncomment the following line to delete
	// delete(&db, "<id>")

	// Step 5) Uncomment the following line to fetch all
	// fetchAll(&db)
}

func insert(db *databases.Database, value string) {
	lastInsertId, err := (*db).Insert(value)
	if err != nil {
		log.Fatal(err)
	}

	fmt.Println("last inserted ID:", lastInsertId)
}

func fetch(db *databases.Database, id string) {
	data, err := (*db).Fetch(id)
	if err != nil {
		log.Fatal(err)
	}

	json, err := json.Marshal(data)
	if err != nil {
		log.Fatal(err)
	}

	fmt.Println(string(json))
}

func update(db *databases.Database, id string, newName string) {
	rowsAffected, err := (*db).Update(id, newName)
	if err != nil {
		log.Fatal(err)
	}

	fmt.Println("rows effected:", rowsAffected)
}

func delete(db *databases.Database, id string) {
	rowsAffected, err := (*db).Delete(id)
	if err != nil {
		log.Fatal(err)
	}

	fmt.Println("rows effected:", rowsAffected)
}

func fetchAll(db *databases.Database) {
	data, err := (*db).FetchAll()
	if err != nil {
		log.Fatal(err)
	}

	json, err := json.Marshal(data)
	if err != nil {
		log.Fatal(err)
	}

	fmt.Println(string(json))
}