package httprouter

import (
	"{{.Name}}/internal/core/ports"
	"{{.Name}}/tools"
	"net/http"

	"github.com/julienschmidt/httprouter"
)

type router struct {
	engine       *httprouter.Router
	globalPrefix string
	rootDir      string
	service      ports.UserServiceInterface
}

func NewRouter(service ports.UserServiceInterface) ports.RouterInterface {
	rootDir, err := tools.FindRootDir()
	if err != nil {
		panic(err)
	}

	return &router{
		engine:       httprouter.New(),
		globalPrefix: "/users",
		rootDir:      rootDir,
		service:      service,
	}
}

func (router router) Register() http.Handler {
	router.registerUserRoutes()
	return router.engine
}
