package main

import (
	"{{.Name}}/cmd/server"
	"{{.Name}}/configs"
	"{{.Name}}/internal/adapters/handlers/{{.Platform}}"
	"{{.Name}}/internal/adapters/loggers/{{.Logger}}"
	"{{.Name}}/internal/adapters/repositories/{{.Database}}"
	"{{.Name}}/internal/core/services"
)

func init() {
	configs.LoadEnv()
}

/*
🇵​​​​​🇱​​​​​🇪​​​​​🇦​​​​​🇸​​​​​🇪​​​​​ 🇨​​​​​🇴​​​​​🇳​​​​​🇸​​​​​🇺​​​​​🇱​​​​​🇹​​​​​ 🇹​​​​​🇭​​​​​🇪​​​​​ 🇷​​​​​🇪​​​​​🇦​​​​​🇩​​​​​🇲​​​​​🇪​​​​​.🇲​​​​​🇩​​​​​ 🇫​​​​​🇮​​​​​🇱​​​​​🇪​​​​​ 🇫​​​​​🇴​​​​​🇷​​​​​ 🇬​​​​​🇺​​​​​🇮​​​​​🇩​​​​​🇦​​​​​🇳​​​​​🇨​​​​​🇪​​​​​
*/

func main() {
	db := {{.Database}}.New()
	logger := {{.Logger}}.New()
	service := services.NewUserService(db)
	handlers := {{.Platform}}.NewRouter(service)
	server.Serve(handlers, logger)
}
