package echo

import (
	"{{.Name}}/internal/core/ports"
	"{{.Name}}/tools"
	"net/http"

	"github.com/labstack/echo/v4"
)

type router struct {
	engine       *echo.Echo
	globalPrefix string
	rootDir      string
	service      ports.UserServiceInterface
}

func NewRouter(service ports.UserServiceInterface) ports.RouterInterface {
	rootDir, err := tools.FindRootDir()
	if err != nil {
		panic(err)
	}

	return &router{
		engine:       echo.New(),
		globalPrefix: "/users",
		rootDir:      rootDir,
		service:      service,
	}
}

func (router router) Register() http.Handler {
	router.registerUserRoutes()

	return router.engine
}
