package main

import (
	"{{.Name}}/configs"
	"{{.Name}}/internal/adapters/brokers/{{.Platform}}"
	"{{.Name}}/internal/core/domain"
	"{{.Name}}/internal/core/services"
)

func init() {
	configs.LoadEnv()
}

func main() {
	broker := {{.Platform}}.New("testing")
	service := services.NewBrokerService(broker)
	service.Produce(domain.Message{Data: "Hello World"})

	// service.Consume()
}
