## Logger Guide

The built-in `log` package is used for logging purposes and it can be used as follows:

```go
logger := log.New()
```

The `New` function gets an optional `fileName` param:

```go
logger := log.New("logs.txt")
```

The name of the log file is arbitrary but if the `logs.txt` name is selected, it will be ignored by Git by default. If a file name is passed, instead of `os.Stdout` which is the default option, all logs will be written to the selected file which will be created at the root path of the project.