package main

import (
	"{{.Name}}/cmd/server"
	"{{.Name}}/configs"
	built_in_http "{{.Name}}/internal/adapters/handlers/built-in-http"
	"{{.Name}}/internal/adapters/repositories/mock"
	"{{.Name}}/internal/core/services"
)

func init() {
	configs.LoadEnv()
}

func main() {
	db := &mock.MockRepository{}
	service := services.NewUserService(db)
	handlers := built_in_http.NewRouter(service)
	server.Serve(handlers)
}
