package main

import (
	"fmt"
	"os"

	"{{.Name}}/configs"
)

func init() {
	configs.LoadEnv()
}

func projectName() string {
	return os.Getenv("PROJECT_NAME")
}

/*
🇵​​​​​🇱​​​​​🇪​​​​​🇦​​​​​🇸​​​​​🇪​​​​​ 🇨​​​​​🇴​​​​​🇳​​​​​🇸​​​​​🇺​​​​​🇱​​​​​🇹​​​​​ 🇹​​​​​🇭​​​​​🇪​​​​​ 🇷​​​​​🇪​​​​​🇦​​​​​🇩​​​​​🇲​​​​​🇪​​​​​.🇲​​​​​🇩​​​​​ 🇫​​​​​🇮​​​​​🇱​​​​​🇪​​​​​ 🇫​​​​​🇴​​​​​🇷​​​​​ 🇬​​​​​🇺​​​​​🇮​​​​​🇩​​​​​🇦​​​​​🇳​​​​​🇨​​​​​🇪​​​​​
*/

func main() {
	fmt.Println(projectName())
}
