<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        This page is served using Golang's built-in
        <a href="https://pkg.go.dev/net/http">http</a> package
    </body>
</html>
