package main

import (
	"fmt"
	"os"

	"allah2/configs"
)

func init() {
	configs.LoadEnv()
}

func projectName() string {
	return os.Getenv("PROJECT_NAME")
}

func main() {
	fmt.Println(projectName())
}
