package http

import (
	"{{.Name}}/internal/core/api"
	"encoding/json"
	"fmt"
	"io"
	"net/http"
)

func (router router) registerUserRoutes() {
	prefix := router.globalPrefix + "/users"

	router.engine.HandleFunc(fmt.Sprintf("GET %v", prefix), router.IndexHandler)
	router.engine.HandleFunc(fmt.Sprintf("GET %v/{id}", prefix), router.ShowUserHandler)
	router.engine.HandleFunc(fmt.Sprintf("POST %v", prefix), router.CreateUserHandler)
	router.engine.HandleFunc(fmt.Sprintf("PUT %v/{id}", prefix), router.UpdateUserHandler)
	router.engine.HandleFunc(fmt.Sprintf("DELETE %v/{id}", prefix), router.DeleteUserHandler)
}

func (router router) CreateUserHandler(w http.ResponseWriter, r *http.Request) {
	var response api.Response
	w.Header().Set("Content-Type", "application/json")

	body, err := io.ReadAll(r.Body)
	if err != nil {
		response := api.Response{Error: api.FailedToReadRequestBody}
		w.WriteHeader(http.StatusInternalServerError)
		json.NewEncoder(w).Encode(response)
		return
	}

	var requestBody map[string]interface{}
	err = json.Unmarshal(body, &requestBody)
	if err != nil {
		response := api.Response{Error: api.FailedToEncodeBodyPayload}
		w.WriteHeader(http.StatusInternalServerError)
		json.NewEncoder(w).Encode(response)
		return
	}

	name, _ := requestBody["name"].(string)
	result, err := router.service.Create(name)
	if err != nil {
		response := api.Response{Message: err.Error(), Error: api.RequiredField}
		w.WriteHeader(http.StatusUnprocessableEntity)
		json.NewEncoder(w).Encode(response)
		return
	}

	response = api.Response{Message: "Created user successfully", Data: result}
	json.NewEncoder(w).Encode(response)
}

func (router router) DeleteUserHandler(w http.ResponseWriter, r *http.Request) {
	var response api.Response
	w.Header().Set("Content-Type", "application/json")

	rowsEffected, err := router.service.Delete(r.PathValue("id"))
	if err != nil {
		response = api.Response{Message: err.Error(), Error: api.DatabaseOperationFailure}
		w.WriteHeader(http.StatusInternalServerError)
		json.NewEncoder(w).Encode(response)
		return
	}

	if rowsEffected > "0" {
		response = api.Response{
			Message: fmt.Sprintf("deleted user with ID of %v successfully", r.PathValue("id")),
		}
	} else {
		response = api.Response{
			Message: fmt.Sprintf("no user found with ID of %v", r.PathValue("id")),
		}
	}

	json.NewEncoder(w).Encode(response)
}

func (router router) IndexHandler(w http.ResponseWriter, r *http.Request) {
	var response api.Response
	w.Header().Set("Content-Type", "application/json")

	result, err := router.service.Index()
	if err != nil {
		response = api.Response{Message: err.Error(), Error: api.DatabaseOperationFailure}
		w.WriteHeader(http.StatusInternalServerError)
		json.NewEncoder(w).Encode(response)
		return
	}

	response = api.Response{
		Message: "Fetched users successfully",
		Data:    result,
	}
	json.NewEncoder(w).Encode(response)
}

func (router router) ShowUserHandler(w http.ResponseWriter, r *http.Request) {
	var response api.Response
	w.Header().Set("Content-Type", "application/json")

	result, err := router.service.Show(r.PathValue("id"))
	if err != nil {
		response = api.Response{Message: err.Error(), Error: api.NotFoundError}
	} else {
		response = api.Response{Message: "Fetched user successfully", Data: result}
	}

	json.NewEncoder(w).Encode(response)
}

func (router router) UpdateUserHandler(w http.ResponseWriter, r *http.Request) {
	var response api.Response
	w.Header().Set("Content-Type", "application/json")

	body, err := io.ReadAll(r.Body)
	if err != nil {
		response := api.Response{Error: api.FailedToReadRequestBody}
		w.WriteHeader(http.StatusInternalServerError)
		json.NewEncoder(w).Encode(response)
		return
	}

	var requestBody map[string]interface{}
	err = json.Unmarshal(body, &requestBody)
	if err != nil {
		response := api.Response{Error: api.FailedToEncodeBodyPayload}
		w.WriteHeader(http.StatusInternalServerError)
		json.NewEncoder(w).Encode(response)
		return
	}

	name, _ := requestBody["name"].(string)
	result, err := router.service.Update(r.PathValue("id"), name)
	if err != nil {
		response := api.Response{Message: err.Error(), Error: api.RequiredField}
		w.WriteHeader(http.StatusUnprocessableEntity)
		json.NewEncoder(w).Encode(response)
		return
	}

	response = api.Response{Message: "User updated successfully", Data: result}
	json.NewEncoder(w).Encode(response)
}
