package ports

import "{{.Name}}/internal/core/domain"

type UserServiceInterface interface {
	Create(name string) (string, error)
	Delete(id string) (string, error)
	Index() ([]domain.User, error)
	Show(id string) (domain.User, error)
	Update(id string, name string) (string, error)
}
