## Web App Guide

By visiting `http://localhost:8080/users`, you'll see a webpage responsible for showing a list of users which shows no data simply because no user is added to the database.

### Add A New User

In order to add a new user, run the following curl command in the terminal:

```text
curl --location 'http://localhost:8080/users' \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data-urlencode 'name=John Doe'
```

Now by visiting `http://localhost:8080/users`, you'll see a user named John Doe showing on the page.

### Update An Existing User

In order to update an existing user, run the following curl command in the terminal (Replace the `<USER_ID>` with an actual ID):

```text
curl --location --request PUT 'http://localhost:8080/users/<USER_ID>' \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data-urlencode 'name=Jane Doe'
```

### Delete An Existing User

In order to delete an existing user, run the following curl command in the terminal (Replace the `<USER_ID>` with an actual ID):

```text
curl --location --request DELETE 'http://localhost:8080/users/<USER_ID>'
```