package databases

import (
	"fmt"
	"os"

	"github.com/redis/go-redis/v9"
)

func New() *redis.Client {
	databaseHost := os.Getenv("DB_HOST")
	databasePort := os.Getenv("DB_PORT")

	return redis.NewClient(&redis.Options{
		Addr:     fmt.Sprintf("%v:%v", databaseHost, databasePort),
		Password: "",
		DB:       0,
	})
}